* {
  margin: 0;
  padding: 0;
}
.topbar {
  background-color: gray;
  display: flex;
  flex-direction: row;
}
.items {
  padding: 5px 10px;
  color: white;
  font-style: italic;
}
.item1 {
  background-color: green;
  flex: 1;
}
.item2 {
  background-color: black;
  flex: 0;
}
.item3 {
  background-color: red;
  flex: 0;
}
@media (max-width: 600px) {
  .topsidebar {
    flex-direction: column;
    align-items: center;
  }
}
